# ignore following extesions
# added by vikas
# 2-Dec-2018
*.a
*.mod
*.smod
*.o
*.out
*.i90
*.if90
*.DS_Store
*.prj
*.drawio
*.log
*.pdf
vscode-settings
docs/
media/
*/build/
build/
src/build/
src/modules/build/
src/submodules/build/
