# ignore following extesions
# added by vikas
# 2-Dec-2018
*.a
*.mod
*.smod
*.o
*.out
*.i90
*.if90
*.DS_Store
*.prj
*.drawio
vscode-settings
include/
lib/
opt/
bin/
src/build/
src/modules/build/
src/submodules/build/
# pkgs/
# old-classes/
# examples/
# docs/
# easifem.wiki/
# pages/
# doc/
